:root {
    --color-1: white;
    --color-2: black;
    --color-3: #F8C683;
    --color-4: #73DF58;
    --font-1: 'DM Serif Display', serif;
    --font-2: 'Prata', serif;
    --font-3: 'Noto Sans Display', sans-serif;
}

.color-1 { color: var(--color-1) }
.color-2 { color: var(--color-2) }
.color-3 { color: var(--color-3) }
.color-4 { color: var(--color-4) }
.bcolor-1 { background-color: var(--color-1) }
.bcolor-2 { background-color: var(--color-2) }
.bcolor-3 { background-color: var(--color-3) }
.bcolor-4 { background-color: var(--color-4) }
.font-1 { font-family: var(--font-1) }
.font-2 { font-family: var(--font-2) }
.font-3 { font-family: var(--font-3) }

@media(max-width: 767px) {
    .hidden-mobile {
        display: none !important;
    }
}

@media(min-width: 767px) {
    .hidden-web {
        display: none;
    }
}

a { color: inherit; text-decoration: none; }

html, body { margin: 0px; background-color: var(--color-1); scroll-behavior: smooth; }

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-1);
    background-color: var(--color-2);
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 0.85rem;
}

.top-bar i { padding-right: 0.35em; }

.top-bar > .right {
    display: flex;
    gap: 1em;
}

p.language {
    border-bottom: solid 1px var(--color-1);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-bottom: 0.3em;
}

p.language > span { padding-left: 0.5em; padding-right: 0.5em; cursor: pointer; }
p.language > span.selected { color: var(--color-2); background-color: var(--color-1) }
p.language > span:hover { border: solid 1px var(--color-1) }

.footer {
    color: var(--color-3);
    background-color: var(--color-2);
    text-align: center;
    font-family: var(--font-3);
    font-weight: bold;
}

.footer > .content {
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
    flex-wrap: wrap;
}

.footer i { font-size: 1.9rem; padding-left: 0.3em; padding-right: 0.3em; }

.footer > .end { padding-top: 1.25rem; padding-bottom: 1.25rem; }

.footer > .content > * {
    flex: 1;
    padding-top: 2em;
    padding-bottom: 2em;
    min-width: 300px;
}

div.hero {
    background: linear-gradient(rgba(13, 21, 61, 0.7), rgba(13, 21, 61, 0.7)), url("/imgs/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.hero {
    display:flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
}

.hero .header {
    color: var(--color-1);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.hero .header > .title {
    font-style: italic;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.hero .header .cta {
    border: solid 1px var(--color-1);
    padding: 0.5em;
    transition: background-color 375ms, color 375ms;
}

.hero .header .cta:hover {
    color: var(--color-2);
    background-color: var(--color-1);
    cursor: pointer;
}

div.hero > div.main {
    color: var(--color-3);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    margin: 4rem;
}

div.hero > div.main > div.title {
    color: var(--color-3);
    font-size: 2.5rem;
    letter-spacing: 0.03em;
    font-style: italic;
    text-shadow: 1.5px 1.5px 5px var(--color-4)
}

div.hero > div.main > div.subtitle {
    font-size: 1.2rem;
}

div.hero > div.main .cta {
    font-size: 1.2rem;
    font-family: var(--font-3);
    border: solid 1px var(--color-3);
    padding: 0.3em 2em 0.3em 2em;
    transition: background-color 375ms, color 375ms;
}

div.hero > div.main .cta:hover {
    color: var(--color-2);
    background-color: var(--color-3);
}

div.hero i { padding-right: 0.5em; }

div.quick-links {
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    gap:1rem;
    flex-wrap: wrap;
}

div.quick-links > div {
    min-width: 300px;
}

div.quick-links .title {
    font-size: 1.5rem;
    text-align: center;
}

div.quick-links .socials {
    font-size: 2.6rem;
    text-align: center;
    letter-spacing: 0.8em;
}

div.schedule {
    background: linear-gradient(rgba(13, 21, 61, 0.7), rgba(13, 21, 61, 0.7)), url("/imgs/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 4rem;
    padding: 2.5rem;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

div.schedule .title {
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 1rem;
}

div.schedule .hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

div.schedule .day {
    font-size: 1.4rem;
    font-style: italic;
}

div.schedule .time {
    text-transform: uppercase;
}


div.special {
    display:flex;
    text-transform: capitalize;
    text-align: center;
}

div.special > div {
    flex: 1;
}

div.special div.text {
    font-size: 1.5rem;
    padding: 4em 0 4em 0;
}

div.special div.image {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

div.special div.combo {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    font-size: 1.5rem;
    padding: 4em 1em 4em 1em;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.slide-left {
    animation: slide-left 1.7s;
}

.slide-right {
    animation: slide-right 1.7s;
}

@keyframes slide-right {
    from {
        transform: translateX(-100%)
    }
    to {
        transform: translateX(0%)
    }
}

@keyframes slide-left {
    from {
        transform: translateX(100%)
    }
    to {
        transform: translateX(0%)
    }
}

.up-btn {
    position: fixed;
    bottom: 1.2em;
    right: 1.2em;
    /* width: 40px; */
    /* height: 30px; */
    font-size: 2em;
    /* border: solid 1px red; */
    border-radius: 0.8em;
    padding: 0.2em;
    box-shadow: 1.5px 1.5px 5px var(--color-4)
}
